{{#if publics}}
<form action="/editar/{{publics._id}}" method="Post">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input value="{{publics.origin}}" type="text" placeholder="ingrese url" name="origin" id="origin" class="form-control my-2">
  <button class="btn btn-warning w-100 mb-2">editar</button>
</form>
{{else}}
<form action="/" style="margin: 70px 0;" method="post" enctype="multipart/form-data" >
    <label for="formFile" class="form-label">Sube tu imagen</label>
    <input class="form-control" type="file" id="formFile" name="myFile" required> <!-- 'required' para que el archivo sea obligatorio -->
    <div class="titulos">
        <input value="tolo" type="text" placeholder="Ingrese un título para su publicación" name="Names" id="Names" class="form-control my-2" required> <!-- 'required' para que el título sea obligatorio -->
    </div>
    <button class="btn btn-success w-100 mb-2">Subir URL</button>
</form>
{{/if}}


