<div class="my-5 text-center">
  {{#if imagen}}
    <!-- Muestra la imagen del usuario si existe -->
    <img src="/Perfiles/fotodinamica/{{imagen}}" alt="Imagen de perfil" style="">
  {{else}}
    <!-- Muestra la imagen por defecto si no hay una imagen subida -->
    <img src="/Perfiles/fotosdinamicas/Profile-PNG-Images.png" alt="Imagen por defecto">
  {{/if}}
</div>
<h1>{{usuario.userName}}</h1>
{{#each urls}}
{{> Card items=this}}
{{/each}}